@inherits LayoutComponentBase

<div class="bb-page">
    <Sidebar @ref="sidebar"
             IconName="IconName.Joystick"
             Title="Game Tracker"
             DataProvider="SidebarDataProvider" />

    <main>
        <div class="bb-top-row px-4 d-flex justify-content-end">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            <div class="py-2">
                @Body
            </div>
        </article>
    </main>
</div>

<Preload />
<Toasts class="p-5" AutoHide="true" Delay="4000" Placement="ToastsPlacement.TopRight" />

@code {
    private Sidebar sidebar = default!;
    private List<NavItem> navItems = default!;

    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    private async Task<SidebarDataProviderResult> SidebarDataProvider(SidebarDataProviderRequest request)
    {
        if (navItems is null)
            navItems = GetNavItems();

        return await Task.FromResult(request.ApplyTo(navItems));
    }

    private List<NavItem> GetNavItems()
    {
        authenticationStateTask.Wait();
        var authState = authenticationStateTask.Result;

        navItems = new List<NavItem>
        {
            new NavItem { Id = "1", Href = "/", IconName = IconName.HouseDoorFill, Text = "Home", Match=NavLinkMatch.All},
        };

        if (authState?.User?.Identity?.IsAuthenticated ?? false)
        {
            navItems.AddRange(new List<NavItem>
            {
                new NavItem { Id = "4", Href = "/Identity/Account/Manage/Index", IconName = IconName.PersonGear, Text = "Account", Match=NavLinkMatch.All },
                new NavItem { Id = "5", Href = "/gameproviders", IconName = IconName.Plugin, Text = "Game Providers"},
                new NavItem { Id = "6", Href = "/games", IconName = IconName.Controller, Text = "Game Library"},
                new NavItem { Id = "7", Href = "/stats", IconName = IconName.BarChartLine, Text = "Stats for Nerds"}
            });
        }
        else
        {
            navItems.AddRange(new List<NavItem>
            {
                new NavItem { Id = "2", Href = "/Identity/Account/Login", IconName = IconName.KeyFill, Text = "Login", Match = NavLinkMatch.All },
                new NavItem { Id = "3", Href = "/Identity/Account/Register", IconName = IconName.PersonFillAdd, Text = "Register", Match = NavLinkMatch.All },
            });
        }

        return navItems;
    }
}