@page "/"

<PageTitle>Game Tracker</PageTitle>

<h1>Game Tracker</h1>

@if (isAuthenticated)
{
    <span>Please select an option from the left menu.</span>
}
else
{
    <span>Please log in to configure your game library.</span>
}


@code {

    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    private bool isAuthenticated;

    protected override async Task OnInitializedAsync()
    {
        var authState = await authenticationStateTask;
        isAuthenticated = authState?.User?.Identity?.IsAuthenticated ?? false;
    }

}